<!DOCTYPE html>
 
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>


<div class="h1Div">
<h1 style="color:white; margin-bottom: 23px; margin-top: 23px; font-size:50px;">TechCiti Technologies Private Limited</h1>
</div>

<div class = "container-fluid">
	<div class = "row">
		<div class="paraDiv col-md-8" style="padding:50px;">
			<h3 style="color:white;">About</h3>
			<br>
			<hr>
			<br>
		
			<p style="text-align: justify;"> We recognize the importance of implementing the right solution for your business. We offer a wide range of services to build a solution that is right for your business needs.</p>
			<p style="text-align: justify;"> Every business, no matter the size, needs advice and support. We have several years of technical experience and have accumulated a wealth of IT infrastructure knowledge. Our free consultation service helps you to establish your requirements. We will be with you every step of the way, from product selection through to configuration and installation.</p>
			<p style="text-align: justify;">Since established in 2013, TechCiti has become a pioneer in providing distinguished end-to-end IT infrastructure solutions to its customers through our business functions maximizing customer engagement with personalized services. We believe that today more than ever, businesses are dependent on technology solutions.</p>
		</div>
		
		<div class="imgDiv col-md-4"><br><br><img src="/images/techciti.png" alt="Italian Trulli">
			<div class = "row">
			<div class="buttonDiv text-center" style = "margin-top:50px; margin-top:55px;" >
				<button class="button" onclick="window.location.href = 'http://localhost:8080/adminDashboard';">Admin Dashboard</button><br><br></div>
			</div>
		</div>
	</div>
</div>




</body>
</html> 