<!DOCTYPE html>
<html>

<head>

	<meta charset="ISO-8859-1">
	<title>Registration</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<style type="text/css">
	
		.completeDiv
		{
 	 		background-color: #19334d;
 	 		height:657px;
		}
		
		h1 
		{
  			font-size:50px;
  			color: white;
		}
		
		.alignCenter
		{
		  text-align:center;
		}
		
		.checkbox
		{
			font-size:15px;
  			color: white;
		}
		
		.passkey
		{
			font-size:15px;
			font-weight:bold;
  			color: white;
  			margin-left:50px;
		}
		
		input.largerCheckbox 
		{
            width: 18px;
            height: 18px;
        }

	
	</style>

</head>

<body>

<div class="completeDiv">

	<br>
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered ! Click on "Login Here" link below.</div>
				</div>

				<h1 class="alignCenter">Registration</h1><br>

				<form th:action="@{/registration}" method="post" th:object="${user}">
					<div class="form-group">
						<label class="control-label" for="firstName" style="color:white;font-size:15px;"> First Name </label>
						<input id="firstName" class="form-control" th:field="*{firstName}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="lastName" style="color:white;font-size:15px;"> Last Name </label> <input
							id="lastName" class="form-control" th:field="*{lastName}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="email" style="color:white;font-size:15px;"> Email </label> <input
							id="email" class="form-control" th:field="*{email}" required
							autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="password" style="color:white;font-size:15px;"> Create Password </label> <input
							id="password" class="form-control" type="password"
							th:field="*{password}" required autofocus="autofocus" />
					</div>
					
						 <div class="form-row">
                            <div class="form-group col-sm-4 checkbox">
                                <script type="text/javascript">
				    				function EnableAdminLogin(chkPassKey) 
				    				{
				        				var txtPassKey = document.getElementById("txtPassKey");
				        				txtPassKey.disabled = chkPassKey.checked ? false : true;
				        				if (!txtPassKey.disabled) 
				        				{
				        					txtPassKey.focus();
				        				}
				    				}
								</script>
			    				<input class="largerCheckbox" style="margin-top:10px; margin-left:0px;" type="checkbox" id="chkPassKey" onclick="EnableAdminLogin(this)" />
								<label for="chkPassKey" style="margin-top:8px; margin-left:7px;"> Register as Admin</label>
                            </div>
                            
                            <div class="form-group col-sm-auto passkey my-1" style="float:right;">
								<input th:field="*{txtPassKey}" class="form-control" style="width:200px; margin-top:12px;" type="text" id="txtPassKey" placeholder="Admin PassKey" disabled="disabled" />
                            </div> 
                            
                        </div>  
                        
                     
					<br><br><br><br>

					<div class="alignCenter">

					<div class="form-group">
						<button type="submit" class="btn btn-success">Register</button>
						
					</div>
					<span style="color:white; font-size:18px;">Already registered? <a href="/" style="color: #0099ff;background-color: transparent;text-decoration: underline;" th:href="@{/login}">Login
								here</a></span> </div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>

</html>