<!DOCTYPE html>
 
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 
<html>
<head>
  <title>User Dashboard</title>
  
  <style>
        .vertical
        {
            border-left: 1px solid white;
            height: 262px;
            position:absolute;
        }
  </style>
  
  <link rel="stylesheet" href="css/userDashboard.css">

  <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

</head>
<body>

	<div class="completeDiv">
	
		<!-- create navigation bar ( header) -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" th:href="@{/userCart}">Cart</a>
				</div>
				<div class="floatLogout">
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li sec:authorize="isAuthenticated()" style="font-size:18px;"><a th:href="@{/logout}">Logout</a></li>
					</ul>
				</div></div>
			</div>
		</nav>
	
	
		<br><br>
		
		<img src="images/banner-home18.jpg" alt="Italian Trulli">
		<br><br><br><br>
		
		<div class="container my-2">
			<h1 style="color: white; font-size:50px">Solutions</h1>
			<hr>
			<br><br>
		</div>
		
		
		<div class="container my-2">
		
			<div class="row">
			
				<div class="col-sm-3">
				
					<h3 style="color:white;font-size:28px;">Category</h3>
					<hr style="margin-top: 5px; width:200px; float:left;"><br><br>
					
					<table style="width:200px;" border="4" class = "table table-striped table-responsive-md dashboardTable">
						<tbody>
							<tr>
								<td style="color: white"><a th:href="@{/userDashboard}" style="color: white">All</a></td>
							</tr>
							<tr th:each="solution : ${listSolutions}">
								<td><a th:href="@{/userDashboard/showSolution/{id}(id=${solution.id})}" th:text="${solution.name}" style="color: white"></a></td>
							</tr>		
						</tbody>
					</table>
					
					<br>
				
				</div>
				
				<div class="col-sm-9">
				
					<h3 style="color:white;font-size:28px;">Products</h3>
					<hr style="margin-top: 5px;">
					
					<div class="row" th:each="product : ${listProducts}">
						
						<div class="col-sm-1 vertical"></div>
						
						<div class="col-sm-11">
						
							<div class="row">
							
								<br><br>
							
							</div>
						
							<div class="row">
							
								<div class="col-sm-3">
							
								<img alt="" th:src="*{'data:image/jpeg;base64,'+{product.image}}" style="width: 180px;height: 180px;">
							
								</div>
								
								<div class="col-sm-6">
								
									<div class="row">
										<div class="col-sm-12">
										<p th:text="${product.name}" style="color:white;font-size:20px;"></p>
										</div>
									</div>
									
									<div class="row">
										<br>
									</div>
									
									<div class="row">
									
										<div class="col-sm-6">
											<p style="color:white;font-size:20px;">Original Price : Rs.</p>
										</div>
										
										<div class="col-sm-6">
											<p th:text="${product.originalPrice}" style="color:white;font-size:20px;"></p>
										</div>
										
									</div>
									
									<div class="row">
										
										<div class="col-sm-6">
											<p style="color:white;font-size:20px;">Net Price : Rs.</p>
										</div>
										
										<div class="col-sm-6">
											<p th:text="${product.netPrice}" style="color:white;font-size:20px;"></p>
										</div>
										
									</div>
									
								</div>
								
								<div class="col-sm-3" style="text-align:center;padding-top:60px;">
								
									<a class="btn btn-success btn-lg">View Product</a>
								
								</div>
							
							</div>
							
							<div class="row">
							
								<br><br>
							
							</div>
						
							<div class="row">
							
								<hr style="margin-top: 0px; margin-bottom: 0px;">
							
							</div>
						
						</div>
						
					</div>
					
					<br><br><br><br>
				
				</div>
			
			</div>
			
		</div>
	
	</div>

</body>
</html> 